// We're using Overpass from Google as the default font for the website, as it's very similar to the font used on the original theme "futura"
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Overpass", sans-serif;
  color: $vado-blue-3;
}

.title {
  color: $vado-blue-3;
}

a {
  color: $vado-blue-3;
  &:hover {
    color: $vado-blue-2;
  }
}
